# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/
out/
generated/
src/generated/

# Env files
.env
.env.*
!.env.example

# Prisma
prisma/dev.db
prisma/dev.db-journal

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Coverage / tests
coverage/
.nyc_output/

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log
